@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Variáveis Globais */
:root {
    --fonte-padrao: 'Press Start 2P', cursive;
    --cor-primaria: #ff5733;
    --cor-secundaria: #222;
    --cor-texto: #fff;
    --cor-fundo: #000;
    --cor-menu-fundo: rgba(0, 0, 0, 0.658);
    --cor-hover: #007bff;
    --sombra: 0 0 10px rgba(0, 0, 0, 0.8),
             0 0 20px rgba(0, 0, 0, 0.5),
             inset 0 0 30px rgba(0, 0, 0, 0.6);
    --bg-color-divs: #000000af;
    --border-color-divs: #f534cbb9;
    --menu-border: 2px solid var(--cor-texto);
    --menu-padding: 20px;
    --menu-gap: 10px;
    --border-radius: 10px;
    --footer-bg: #333;
    --footer-color: #ccc;
}

/* Reset de estilos */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Corpo da página */
body {
    font-family: var(--fonte-padrao);
    line-height: 1.5;
    color: var(--cor-texto);
    overflow: hidden;
    background-color: var(--cor-fundo);
}

li {
    list-style-type: none;
}

/* Layout principal */
#app {
    display: flex;
    height: 100vh;
}

/* Menu superior */
#menu {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--cor-menu-fundo);
    /* border-bottom: var(--menu-border); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#menu a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px;
    transition: background-color 0.3s;
}

#menu a:hover, #menu a:focus {
    text-decoration: underline;
}

/* Conteúdo principal */
#content {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
    flex: 1;
    background-image: url('https://i.imgur.com/c0QNz9c.png');
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 10vh;
    transition: transform 0.5s ease-in-out;
    transition: filter 0.3s ease;
}
#content.blur {
    filter: blur(5px);
}
#content::-webkit-scrollbar {
    display: none;
}

/* Seções */
section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;

}


#jogos {
    background-image: url('https://i.postimg.cc/FsdFW9Rn/a3ad5c8750b718c11fec14619ac7d10f.jpg');
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#games-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

#games-container::-webkit-scrollbar {
    height: 8px;
}

#games-container::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

#games-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px; 
    max-width: 30vw; 
    text-align: center;
    background: rgba(0, 0, 0, 0.74); 
    padding: 15px;
    border-radius: 10px;
    white-space: normal;
    
}
#games-container li:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
    box-shadow: var(--sombra);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.74);
}

#games-container img {
    width: 100%; /* Garante que a imagem não ultrapasse os limites do card */
    height: auto;
    max-height: 50vh;
    border-radius: 10px;
    object-fit: cover
}

#games-container strong{
    font-size: 1.1rem;
    color: white;
    margin-top: 5px;

} 
#games-container span {
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word; 
    white-space: normal;
}

#equipe {
    position: relative;
    justify-content: center;
    background-image: url('https://i.postimg.cc/gj3nn6g0/bg-equipe.png');
    background-size: cover;
    background-position: center;
    color: white; /* Para o texto ficar visível */
}

#equipe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.774); /* Preto com 50% de opacidade */
    z-index: 1;
}

/* Garante que o conteúdo da seção fique acima do filtro */
#equipe > * {
    position: relative;
    z-index: 2;
}

#equipe h2 {
    margin-bottom: 25vh;
}
#equipe li strong {
    color: var(--cor-primaria);
}
#members {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
    width: 350px;
}

#final-container {
    background-image: url('https://i.postimg.cc/02Jbbmdp/BAG3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}

.details {
    background-color: var(--bg-color-divs);
    padding: 20px;
    border-color: var(--border-color-divs);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius);
    max-width: 600px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.member-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--border-color-divs);
}

footer {
    text-align: center;
    font-size: 0.7rem;
    color: var(--footer-color);
    padding: 20px;
    background-color: var(--footer-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

@media (max-width: 768px) {
    #menu a {
        font-size: 0.7rem;
    }

    #games-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
    }

    #games-container li {
        width: 200px;
    }
    equipe {
        overflow: auto;
        scroll-behavior: smooth;
    }
    #equipe h2 {
        margin-bottom: 25px;
    }

    #members {
        flex-direction: column;
        align-items: center;
    }

    .member-frame {
        width: 120px;
        height: 120px;
    }
}